@tailwind base;
@tailwind components;
@tailwind utilities;

/*@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');*/
/*@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300');*/

/*// <uniquifier>: Use a unique and descriptive class name*/
/*// <weight>: Use a value from 100 to 900*/

/*// <uniquifier>: Use a unique and descriptive class name*/
/*// <weight>: Use a value from 100 to 900*/
/*
body {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}
*/
body {
  /*font-family: "Poppins";*/
  font-family: "Raleway Variable", sans-serif;
  margin: 0;
  background: rgb(87, 39, 102);
  background: radial-gradient(
    circle,
    rgba(87, 39, 102, 1) 0%,
    rgba(41, 34, 91, 1) 100%
  );
  background-size: 400% 400%;
  animation: gradient 35s ease infinite;
  height: 100vh;
  color: white;
}

:root {
  --border-width: 4px;
  --header-max-height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

h1 {
  font-weight: 200;
  font-size: 5rem;
}

h2 {
  font-weight: 200;
}

.icon {
  height: 40px;
  width: 40px;
}

.banner {
  padding: 1rem;
  /*margin-left: -5em;*/
  width: 27rem;
  /*height: 3em;*/
  background: #437551;
}

.no-skew {
  transform: skew(20deg);
  margin-left: 5rem;
}

.parallelogram {
  transform: skew(-20deg);
}

.quote-box {
  background-color: #909993;
}

.page {
  padding-top: var(--header-max-height);
  display: flex;
  flex-direction: row;
  align-items: space-between;
}

.page-width {
  padding: 0rem 1rem;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-right: 3rem;
}

.section {
  /*width:100%;*/
  margin: 4rem 0rem;
  padding: 10rem 1rem;
  color: white;
  position: relative;
  top: 3rem;
  /*left: calc(0px - var(--border-width));*/
  /*background: rgb(13,52,36);*/
  /*background: linear-gradient(59deg, rgba(13,52,36,1) 0%, rgba(5,19,36,1) 100%);*/
  border-left: var(--border-width) solid blue;
  border-bottom: var(--border-width) solid blue;
  border-bottom-left-radius: 3rem;
  min-height: 20vw;
}

.section:before {
  position: absolute;
  left: calc(-1 * var(--border-width));
  top: -3rem;
  content: "";
  height: 3rem;
  width: 7rem;
  border-top: var(--border-width) solid green;
  border-left: var(--border-width) solid green;
  border-top-left-radius: 3rem;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: right;
  background: rgb(116, 103, 109);
  background: linear-gradient(
    90deg,
    rgba(116, 103, 109, 0.5060224773503151) 0%,
    rgba(182, 195, 210, 0.43039222524947474) 100%
  );
}
